/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	background:#ffffff;
	font-size: 100%;
}
.header_bg{
	background: url('../images/header_bg.jpg');
	background-size: 100% 100%;
}
.breadcrumb {
	background: none;
	padding: 6px 6px 12px;
	margin: 0;
}
.breadcrumb > .active {
	color: #A8B8D8;
}
.breadcrumb li,.breadcrumb li a{
	font-size: 14px;
	color: #ffffff;
	text-transform:capitalize;
}
.breadcrumb li a:hover{
	text-decoration: none;
	color:#F15F43;
}
.header{
	background: #ffffff;
	padding: 10px 6px;
	margin: 10px 0;
}
/*nav*/
.drp-dwn select {
	border: 1px solid rgb(221, 221, 221);
	font-family: Arial, Geneva,Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 4px;
	font-size:12px;
	outline: none;
	background: #ffffff;
	color: #354B77;
	cursor: pointer;
}
/* start slider */
.slider{
	margin-top: 15px;
}
.slider_text h2{
	font-size: 2.5em;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	line-height: 1.2em;
	margin: 0;
}
.slider_text h3{
	font-size: 1.6em;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 100;
	margin: 8px 0 0;
}
.slider_img{
	margin-top: 10px;
}
.slider_img img{
	display: inline-block;
}
/* grids_of_3 */
.main{
	background: #fffffff;
}
.grids_of_3 {
	text-align: center;
	padding: 10px 0;
}
.grid1_of_3 h2{
	text-transform: uppercase;
	color: #354B77;
	font-size: 20px;
}
.grid1_of_3 p{
	font-size: 14px;
	line-height: 1.5em;
	color: #434C5E;
	margin-bottom: 10px;
}
.grid1_of_3 img{
	display: inline-block;
}
.btn_style{
	font-size: 14px;
	color: #ffffff;
	background: #F15F43;
	padding: 10px 26px;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
}
.btn_style:hover{
	background: #354B77;
}
/* grids_btm */
.grids_btm {
	padding: 10px 0;
}
.grid_list{
	margin: 10px 0;
	display: block;
}
.grids_btm.top{
	padding:10px 0;
	border-top: 1px ridge rgb(241, 241, 241);
	border-bottom: 1px ridge rgb(241, 241, 241);
}
.images_1_of_1{
	width:24%;
	float:left;
	background: #354B77;
	padding:10px;
}
.images_1_of_1 p{
	text-align: center;
	font-size: 3em;
	color: #ffffff;
	margin: 0;
}
.grid_1_of_1{
	width:76%;
	float:left;
	background: #E5EAF3;
	padding:6.5px 10px;
}
.grid_1_of_1 h3{
	color: #354B77;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0;
}
.grid_1_of_1 p {
	font-size: 14px;
	line-height: 1.5em;
	color: #434C5E;
	margin: 0;
}
/* start footer */
.footer_bg{
	background: #f9f9f9;
}
.footer{
	padding:10px 0%;
}
.span1_of_4 h4{
	font-size: 20px;
	text-transform: uppercase;
	color: #354B77;
	margin-top: 15px;	
}
.span1_of_4 h5{
	font-size: 1.5em;
	text-transform: capitalize;
	color: #354B77;
	margin-top: 10px;
}
.span1_of_4 p{
	margin: 5px 0;
	font-size: 13px;
	line-height: 1.5em;
	color: #9FA0A2;
}
.span1_of_4 p.top{
	margin-top: 10px;
}
.span1_of_4 span a{
	border-bottom: 1px dashed rgb(235, 233, 233);
	padding-bottom: 4px;
	margin-top: 10px;
	display: block;
	font-size: 14px;
	line-height: 1.5em;
	color: #434C5E;
}
.span1_of_4 span a:hover{
	text-decoration:none;
	color: #F15F43;
}
.f_nav li{
	display:inline-block;
	margin: 0 2px 2px 0;
}
.f_nav li a{
	display: block;
}
.f_nav li a img{
	background: #ffffff;
	padding: 4px;
	border: 1px solid #eeeeee;
}
.f_nav li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
/*start footer_top */
.footer_btm{
	background: #f3f3f3;
}
.footer1{
	padding:15px 10px;
}
/* start soc_icons */
.soc_icons ul li{
	display:inline-block;
	margin-left: 5px;
}
.soc_icons ul li:first-child{
	margin-left: 0;
}
.soc_icons ul li a{
	display: block;
	width: 30px;
	height: 30px;
}
.soc_icons ul li a.icon1{
	background: #39579D url('../images/icons.png') no-repeat 11px 4px;
}
.soc_icons ul li a.icon2{
	background: #02B3E9 url('../images/icons.png') no-repeat -18px 4px;
}
.soc_icons ul li a.icon3{
	background: #DB4A39 url('../images/icons.png') no-repeat -50px 4px;
}
.soc_icons ul li a.icon4{
	background: #EA4C89 url('../images/icons.png') no-repeat -85px 4px;
}
.soc_icons ul li a.icon5{
	background: #5A872A url('../images/icons.png') no-repeat -118px 4px;
}
.soc_icons ul li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
.copy{
	margin-top: 10px;
}
.copy p{
	color: #434C5E;
	font-size: 13px;
	line-height: 1.8em;
}
.copy p a{
	color:#F15F43;
}
.copy p a:hover{
	color: #434C5E;
	text-decoration: none;
}
/* start feature */
.features{
	padding: 10px 0;
}
.features_list1{
	margin-top: 10px;
}
.feature {
	margin-top: 15px;
}
.feature p{
	margin: 10px 0 2px;
}
.feature img{
	width: 100%;
}
.feature a{
	display: block;
	font-size: 16px;
	font-style: italic;
	color: #354B77;
	text-transform: capitalize;
}
.feature a:hover{
	text-decoration: none;
	color: #F15F43;
}
/* start blog */
.blog{
	padding: 10px 0;
}
.blog_img{
	margin-top: 5px;
}
.blog_img1{
	margin-top: 10px;
}
.blog_left img{
	width:100%;
}
.blog_left h4 a{
	display:block;
	margin: 4% 0 2%;
	color: #354B77;
}
.blog_left h4 a:hover{
	text-decoration: none;
	color: #F15F43;
}
.blog_right h4{
	margin:0 0 4%;
	color: #354B77;	
	text-transform: capitalize;
}
/* start ads_nav */
.ads_nav li{
	float: left;
	width: 48.3333%;
	margin-left: 3.33333%;
	margin-bottom: 10px;
}
.ads_nav li:first-child,.ads_nav li:nth-child(3){
	margin-left: 0;
}
.ads_nav li a{
	display: block;
}
.ads_nav li a img{
	width: 100%;
}
.ads_nav li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
/* start tag_nav */
.tag_nav {
	margin: 10px 0;
}
.tag_nav li{
	margin:10px 5px 0 0;
	display: inline-block;
}
.tag_nav li a{
	display: block;
	text-transform: capitalize;
	background: #E7E7E7;
	color: #5F5F5F;
	font-size: 13px;
	padding: 8px 14px;
}
.tag_nav li a:hover{
	background: #354B77;
	color: #ffffff;
	text-decoration:none;
}
/* start news_letter */
.news_letter{
	margin: 8% 0;
}
.news_letter form input[type="text"]{
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-weight:100;
	padding: 10px;
	display: block;
	width: 100%;
	background: #ffffff;
	outline: none;
	color: #555555;
	font-size: 13px;
	border: 1px solid #DADADA;
	-webkit-appearance: none;
}
.news_letter form input[type="submit"]{
	margin-top: 4%;
	-webkit-appearance: none;
	float:right;
	font-family: Arial, Geneva,Helvetica, sans-serif;
	cursor:pointer;
	border:none;
	outline:none;
	display: inline-block;
	padding: 12px 30px;
	font-size: 13px;
	color: #ffffff;
	background: #354B77;
	text-transform: uppercase;
}
.news_letter form input[type="submit"]:hover{
	background: #F15F43;
}
/* start about */
.about{
	padding: 10px 0;
}
.img_style{
	margin-top:10px;
}
.img_style img{
	width: 100%;
}
.about h4{
	color: #354B77;
}
.para{
	font-size: 13px;
	line-height: 1.5em;
	color: #434C5E;
}
.about_p {
	padding: 10px;
	margin-top: 0;
}
.read_more {
	margin: 10px 0 8px;
}
/* start contact */
.contact{
	padding: 10px 0;
}
.contact_info h2{
	font-size: 20px;
	text-transform: uppercase;
	color: #354B77;
	margin: 5px 0 10px
}
.company_ad h2{
	font-size: 20px;
	text-transform: uppercase;
	color: #354B77;
}
.company_ad p{
	font-size: 13px;
}
.company_ad p a {
	margin: 8px 0;
	color: #F15F43;
}
.company_ad p a:hover{
	text-decoration:none;
	color: #354B77;
}
.contact-form h2{
	font-size: 20px;
	text-transform: uppercase;
	color: #354B77;
}
.contact-form span{
	display:block;
	text-transform: capitalize;
	font-size: 13px;
	color: #9499A3;
	font-weight: normal;
	margin-bottom: 10px;
}
.contact-form textarea {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	padding: 10px;
	display: block;
	width: 99.3333%;
	background: #ffffff;
	outline: none;
	color: #c0c0c0;
	font-size: 0.8725em;
	border: 1px solid #ECECEC;
	-webkit-appearance: none;
	resize: none;
	height: 120px;
}
.contact-form textarea:focus{
	border:1px solid #66afe9;
}
.form-control{
	border: 1px solid #ECECEC;
}
.form-control:focus {
	box-shadow: none;
}
.contact-form input[type="submit"] {
	margin: 0px 0px 10px;
	font-family: Arial, Geneva,Helvetica, sans-serif;
	-webkit-appearance: none;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	padding: 12px 30px;
	font-size: 0.8925em;
	color: #ffffff;
	background: #F15F43;
	text-transform: uppercase;
}
.contact-form input[type="submit"]:hover{
	background: #354B77;
}
/* start derails */
.details{
	padding: 10px 0;
}
.details img{
	margin-bottom:10px;
}
